.restaurant-image-wrap {
    width: 171px;
    height: 171px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    left: -172px;
    bottom: 11px;
}

.restaurant-image-wrap>img {
    min-width: 167px;
    max-width: 167px;
    min-height: 139px;
    max-height: 139px;
    border: 2px solid darkblue;
}

.restaurant {
    box-shadow: 0px 0px 20px 0px;
    padding: 50px;
    margin: auto auto 30px;
    width: 500px;
    max-height: 170px;
    background-color: rgb(245, 223, 190);
    color: darkblue;
}

.restaurant h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 200px;
    margin-top: -185px;
    font-size: 26px;
    line-height: normal;
    overflow: hidden;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.data-buttons {
    display: inline-flex;
    position: relative;
    margin-left: 200px;
    margin-top: -7px;
    max-width: 280px;
}

.details-btn {
    background-color: darkblue;
    width: 70px;
    height: 30px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 70px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    cursor: pointer;
}

.details-btn:hover {
    background-color: rgb(192, 129, 117);
    color: white;
}

.favourites-btn {
    background-color: red;
    width: 210px;
    height: 30px;
    font-size: 18px;
    margin-top: 50px;
    margin-left: -140px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    cursor: pointer;
}

.favourites-btn:hover {
    background-color: rgb(192, 129, 117);
    color: white;
}