.restaurant {
    box-shadow: 0px 0px 30px 0px;
    margin-top: 20px;
    padding: 50px;
    margin-left: 83px;
    max-width: 280px;
    max-height: 475px;
    background-position: right 35% bottom 45%;
    background-color: rgb(245, 223, 190);
    box-sizing: border-box;
    float: left;
    height: auto;
    color: darkblue;
}

.restaurant>h3 {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: -50px;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease-out;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.image-wrap {
    width: 238px;
    height: 238px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-top: -17px;
    left: 57%;
    transform: translateX(-50%);
}

.image-wrap>img {
    min-width: 211px;
    max-width: 211px;
    min-height: 162px;
    max-height: 162px;
    border: 2px solid darkblue;
}

.rating {
    unicode-bidi: bidi-override;
    text-align: center;
    direction: ltr;
    margin-left: -2px;
}

.rating span {
    font-size: 34px;
    padding: 3px;
    color: transparent;
}

.full::before {
    content: "\2605";
    position: absolute;
    color: orange;
}

.empty::before {
    content: "\2605";
    position: absolute;
    color: grey;
}

.data-buttons {
    font-size: 1.4rem;
    padding-top: 20px;
    text-align: center;
}

.details-btn {
    background-color: darkblue;
    font-size: 1.2rem;
    padding-top: 20px;
    margin-top: 10px;
    color: whitesmoke;
    padding: 0.9em 1.4em;
    text-decoration: none;
}

.details-btn:hover {
    background-color: rgb(192, 129, 117);
    color: white;
}

.review-count {
    color: black;
    font-size: 18px;
    text-align: center;
}