.restaurant {
    width: 246px;
    height: 360px;
    box-sizing: border-box;
    background-color: rgb(245, 223, 190);
    color: darkblue;
    box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 1);
}

.restaurant>h3 {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    padding: 0 8px;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* .image-wrap {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    margin-top: -17px;
    transform: translateX(-50%);
} */

.image-wrap>img {
    margin: 1.7rem 1rem;
    width: 196px;
    height: 140px;
    border: 2px solid darkblue;
}

.rating {
    unicode-bidi: bidi-override;
    text-align: center;
    direction: ltr;
    margin-left: -2px;
}

.rating span {
    font-size: 1.75rem;
    padding: 3px;
    color: transparent;
}

.full::before {
    content: "\2605";
    position: absolute;
    color: orange;
}

.empty::before {
    content: "\2605";
    position: absolute;
    color: grey;
}

.data-buttons {
    font-size: 1.4rem;
    padding-top: 7px;
    text-align: center;
}

.details-btn {
    background-color: darkblue;
    font-size: 1.2rem;
    color: whitesmoke;
    padding: 0.6em 1.1em;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.details-btn:hover {
    transition: all 200ms ease-in-out;
    background-color: rgb(192, 129, 117);
    color: white;
}

.review-count {
    margin: 0.4rem;
    color: black;
    font-size: 18px;
    text-align: center;
}