.restaurant-image-wrap {
    width: 414px;
    height: 332px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    left: -2px;
    bottom: 8px;
}

.restaurant-image-wrap>img {
    min-width: 410px;
    max-width: 410px;
    min-height: 263px;
    max-height: 263px;
    border: 2px solid darkblue;
}

.restaurant {
    box-shadow: 0px 0px 20px 0px;
    padding: 50px;
    margin: auto auto 30px;
    width: 900px;
    min-height: 250px;
    max-height: 250px;
    background-color: rgb(245, 223, 190);
    color: darkblue;
}

.restaurant a {
    text-decoration: none;
    cursor: pointer;
}

.restaurant a:hover {
    color: rgb(192, 129, 117);
}

.restaurant h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 450px;
    margin-top: -344px;
    font-size: 50px;
    line-height: normal;
    overflow: hidden;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.data-buttons {
    font-size: 1.4rem;
    padding-top: 20px;
    text-align: center;
}

.details-btn {
    background-color: darkblue;
    font-size: 1.2rem;
    padding-top: 20px;
    margin-top: -30px;
    color: whitesmoke;
    padding: 0.9em 1.4em;
    text-decoration: none;
    border: none;
    margin-left: 450px;
    cursor: pointer;
}


.details-btn:hover {
    background-color: rgb(192, 129, 117);
    color: white;
}

.rating {
    unicode-bidi: bidi-override;
    text-align: center;
    direction: ltr;
    margin-left: 450px;
    margin-top: -50px;
    position: relative;
}

.rating span {
    font-size: 30px;
    padding: 4px;
    color: transparent;
}

.full::before {
    content: "\2605";
    position: absolute;
    color: orange;
}

.empty::before {
    content: "\2605";
    position: absolute;
    color: grey;
}

.review-count {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}