.container {
    width: 100%;
    height: 100vh;
}

.copy-container {
    text-align: center;
    padding-top: 278px;
}

.copy-container p {
    color: darkblue;
    font-size: 70px;
    font-weight: 600;
}