body {
    background-image: url('../public/images/sea-and-sand.jpg');
    background-size: cover;
    margin: auto;
}

.footer-container {
    position: relative;
    /* margin-top: 62vh; */
    width: 100%;
}