body {
    background: url("https://mediaim.expedia.com/destination/1/d964393b5bcd342786829cb60b8c58ca.jpg");
    background-size: cover;
    margin: auto;
}

.footer-container {
    position: relative;
    /* margin-top: 62vh; */
    width: 100%;
}