.sort-div {
    display: flex;
    justify-content: right;
    margin-top: -20px;
    margin-right: -4px;
    margin-bottom: 20px;
    font-size: 18px;
    color: black;
}

.criteria {
    background-color: transparent;
    font-size: 18px;
    border: 1px solid grey;
}